  {% extends 'backend/Layout.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}
  <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Certificats</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                     <table class="table align-items-center justify-content-center mb-0">
                                      <thead>
                                        <tr>
                                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom </th>
                                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contacts</th>
                                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Signer</th>
                                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Date</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for signataire in signataires%}
                                        <tr>
                                          <td>
                                            <div class="d-flex px-2">
                                              <div>
                                                <img src="{%static signataire.image|slice:'7:' %}" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                                              </div>
                                              <div class="my-auto">
                                                <h6 class="mb-0 text-sm">{{signataire.nom_complet}}</h6>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <p class="text-sm font-weight-bold mb-0">{{signataire.email}}</p>
                                            <p class="text-sm font-weight-bold mb-0">{{signataire.telephone}}</p>
                                          </td>
                                         <td class="align-middle text-center text-sm">
                                            {% if signataire.signed %}
                                            <span class="badge badge-sm bg-gradient-success">Oui</span>
                                            {% else %}
                                            <span class="badge badge-sm bg-gradient-danger">Non</span>
                                            {% endif %}
                                          </td>
                                          <td>
                                            <span class="text-xs font-weight-bold">{{signataire.signed_date}}</span>
                                          </td>
                                          <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0">
                                              <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}