 {% extends 'layouts/Layout.html'%}
 <!-- Page Heading -->
{% load static %}

{% block section %}
<section class="py-5 text-white bg-info bg-gradient" style="background-image: url({% static 'img/plume.png' %}); background-repeat: no-repeat; background-size: cover;background-position: center;">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-1 text-bold"><u>SIGN-IN</u></h1>
        <p class="lead mb-0"><code><hr/></code></p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-10 mx-auto">
        <p class="lead text-center display-4">Réinventons des processus plus sûrs</p>
        <p class="lead"><br></p>
        <p class="lead"> <class="bg-primary" hr/> </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
 
 {% block content %}

    <div class="">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
									<h1 class=" text-gray-900 mb-4 display-4 text-center text-underline"><u>SIGN-IN </u></h1>				
							</div>
							
                            <div class="col-lg-12 ">
                                <div>
                                    <div class="text-center">
                                        
                                    </div>
                                    <div class="user">
                                        <div class="form-group">
                                            <p class="text-justify container">
												La signature électronique est un procedé fondé sur les principes traditionnels de la signature manuscrite. Juridiquement, elle est valable car reconnue par les institutions, autorités et règlements régissant internet à condition de garantir un certain nombre de critères à savoir l'<code>authentification</code>, l'<code>intégrité</code> et la <code>non repuduation</code>. 
											</p>
                                        </div>
                                       
                                        
                                    </div>
                                    <hr>
                                </div>

                            </div>
							
                            <div class="col-lg-12">
                                
                            </div>
							
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-12 container">
            <h3 class="container card text-center"></h3>
            
        </div>
        <div class=" container col-lg-12 col-md-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/emprunte-icon.png' %}" style="">
                    
                </div>
                <div class="text-justify container card-body">
                    <h4 class="text-center"><code><u>Authentification</u></code></h4>
                    <p class="">
                        L'authentification est la carctéristique selon laquelle, le recepteur doit décliner son identité et si et seulement si son identité est correcte, On lui permet d'accéder à la ressource ou au message (dans notre cas, il s'agira du document à signer).
                    </p>
               </div>
                
            </div>
            <br/>

        </div>

        <div class=" container col-lg-12 col-md-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/safety-icon.png' %}" style="">
                    
                </div>
                <div class="text-justify container card-body">
                    <h4 class="text-center"><code><u>INTEGRITE</u></code></h4>
                    <p class="">
                        L'authentification est la carctéristique selon laquelle, le recepteur doit décliner son identité et si et seulement si son identité est correcte, On lui permet d'accéder à la ressource ou au message (dans notre cas, il s'agira du document à signer).
                    </p>
               </div>
            </div>

        </div>

        <div class=" container col-lg-12 col-md-4 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/receipt-approved-icon.png' %}" style="">
                    
                </div>
                <div class="text-justify container card-body">
                    <h4 class="text-center"><code><u>NON REPUDIATION</u></code></h4>
                    <p class="">
                        L'authentification est la carctéristique selon laquelle, le recepteur doit décliner son identité et si et seulement si son identité est correcte, On lui permet d'accéder à la ressource ou au message (dans notre cas, il s'agira du document à signer).
                    </p>
               </div>
                
            </div>
            <br/>

        </div>

        <div class="col-lg-12">
            <br/><br/>
        </div>
        
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bg-info display-3"></div>
        <div class="col-4"></div>
    </div>


    <div class="bg-info bg-gradient">
        <div class="col-12 container">
            <h3 class=" text-white display-3 text-center">FONCTIONALITES</h3>
            
        </div>
        <div><br/></div>
        <div class=" row">
                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/emprunte-icon.png' %}" style="">
                            
                        </div>
                        <div class="text-justify container card-body">
                            <h4 class="text-center"><code><u>Authentification</u></code></h4>
                            <p class="">
                                L'authentification est la carctéristique selon laquelle, le recepteur doit décliner son identité et si et seulement si son identité est correcte, On lui permet d'accéder à la ressource ou au message (dans notre cas, il s'agira du document à signer).
                            </p>
                       </div>
                    </div>
                    <br/>

                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/safety-icon.png' %}" style="">
                            
                        </div>
                        <div class="text-justify container card-body">
                            <h4 class="text-center"><code><u>INTEGRITE</u></code></h4>
                            <p class="">
                                L'authentification est la carctéristique selon laquelle, le recepteur doit décliner son identité et si et seulement si son identité est correcte, On lui permet d'accéder à la ressource ou au message (dans notre cas, il s'agira du document à signer).
                            </p>
                       </div>
                        
                    </div>
                    <br/>

                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/receipt-approved-icon.png' %}" style="">
                            
                        </div>
                        <div class="text-justify container card-body">
                            <h4 class="text-center"><code><u>NON REPUDIATION</u></code></h4>
                            <p class="">
                                L'authentification est la carctéristique selon laquelle, le recepteur doit décliner son identité et si et seulement si son identité est correcte, On lui permet d'accéder à la ressource ou au message (dans notre cas, il s'agira du document à signer).
                            </p>
                       </div>
                        
                    </div>
                    <br/>

                </div>
        </div>        
        <div class="col-lg-12">
            <br/>
        </div>
        
    </div>


    <div class="col-12">
        <br/><br/>
    </div>


    <div class="container-fluid">
        <div><br/></div>
        <div class=" row">
                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="row container card-body">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/user-groups-icon.png' %}" style="">                               
                            </div>
                
                            <div class="col-9 align-self-center"><code>Signataires illimités</code></div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="row container card-body">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/double_authentication-icon.png' %}" style="">                               
                            </div>
                
                            <div class="col-9 align-self-center"><code>Authentification:email+sms</code></div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="row container card-body">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/edit-calendar-icon.png' %}" style="">                               
                            </div>
                
                            <div class="col-9 align-self-center"><code>Horodatage intégré après chaque signature</code></div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="row container card-body">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/qr-code-icon.png' %}" style="">                               
                            </div>
                
                            <div class="col-9 align-self-center"><code>Code QR generé à la fin du processus de signature</code></div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="row container card-body">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/certificat-icon.png' %}" style="">                               
                            </div>
                
                            <div class="col-9 align-self-center"><code>Certificat associé à chaque signantaire</code></div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="container col-lg-12 col-md-4 col-xl-4">
                    <div class="card">
                        <div class="row container card-body">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block " src="{% static 'img/certificat-icon.png' %}" style="">                               
                            </div>
                
                            <div class="col-9 align-self-center"><code>Certificat associé à chaque signantaire</code></div>
                        </div>
                    </div>
                    <br>
                </div>

        </div>        
        <div class="col-lg-12">
            <br/>
        </div>
        
    </div>


{% endblock %}